.carttop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 5px #bbbbbb;
}

.carttop .goback {
  background-image: url(../../assets/img/goback.png);
  float: left;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  background-size: 14px;
  background-repeat: no-repeat;
  margin: 12px;
}

.carttop .carttitle {
  max-width: 60%;
  margin: auto;
  line-height: 44px;
  color: #666;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart-empty {
  text-align: center;
  margin: 60% auto;
}

.cart-empty .msg {
  margin: 4.72222rem 0 1.83333rem;
  color: #666;
  font-size: 12px;
}

.cart-empty .btn {
  display: inline-block;
  width: 30.0667vw;
  height: 9.8vw;
  line-height: 9.8vw;
  font-size: 16px;
  border-radius: 2px;
  background-color: #00c3f5;
  color: #fff;
}

.cart-list {
  padding-bottom: 1.25rem;
  margin-top: 14vw;
}

.cart-list .section {
  margin-top: 8px;
  overflow: hidden;
  background-color: #fff;
}

.cart-list .section .supplier {
  height: 1.33333rem;
  line-height: 1.44444rem;
  font-size: 14px;
  overflow: hidden;
}

.cart-list .section .supplier .radio {
  float: left;
  position: relative;
  padding: 0;
  width: 13%;
  height: 1.33333rem;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: iconfont;
}

.cart-list .section .supplier .radio em {
  content: "";
  position: absolute;
  top: 50%;
  width: .55556rem;
  height: .55556rem;
  margin-top: -.27778rem;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: background-color .1s linear;
  right: auto;
  left: .33333rem;
}

.cart-list .secrow {
  margin-bottom: -1px;
  overflow: auto;
}

.cart-list .secrow .row-item {
  overflow: auto;
  border-bottom: 1px solid #eeecec;
}

.cart-list .secrow .row-item .radio {
  float: left;
  position: relative;
  padding: 0;
  width: 13%;
  height: 1.33333rem;
  box-sizing: border-box;
  top: 1.44444rem;
  margin-top: -.66667rem;
}

.cart-list .secrow .row-item .radio em {
  content: "";
  position: absolute;
  right: .34722rem;
  top: 50%;
  width: .55556rem;
  height: .55556rem;
  margin-top: -.27778rem;
  background-color: #fff;
  right: auto;
  left: .33333rem;
}

.cart-list .secrow .row-item .radio-fld {
  float: right;
  width: 87%;
}

.cart-list .secrow .row-item .radio-fld .item {
  position: relative;
  z-index: 0;
  padding: .33333rem .33333rem .33333rem 0;
  overflow: hidden;
}

.cart-list .secrow .row-item .radio-fld .item .prod-img {
  float: left;
  position: relative;
  width: 22.2vw;
  height: 22.2vw;
}

.cart-list .secrow .row-item .radio-fld .item .prod-img img {
  width: 100%;
  height: 100%;
}

.cart-list .secrow .row-item .radio-fld .item .intro {
  position: relative;
  margin-left: 2.5rem;
  line-height: .69444rem;
  overflow: hidden;
}

.cart-list .secrow .row-item .radio-fld .item .intro h3 {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  overflow: initial;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
}

.cart-list .secrow .row-item .radio-fld .item .intro .attrs {
  padding-top: .04167rem;
  color: #999;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
  overflow: initial;
}

.cart-list .secrow .row-item .radio-fld .item .intro .attrs span {
  color: #999;
}

.cart-list .secrow .row-item .radio-fld .item .intro .howmuch {
  padding-top: .11111rem;
  line-height: 27px;
  overflow: auto;
}

.cart-list .secrow .row-item .radio-fld .item .intro .howmuch .price {
  float: left;
  color: #f0415f;
}

.cart-list .secrow .row-item .radio-fld .item .intro .howmuch .price :before {
  content: attr(data-symbol);
}

.cart-list .secrow .row-item .radio-fld .item .intro .howmuch .quantity {
  float: right;
  color: #999;
}

.cart-list .secrow .row-item .radio-fld .item .intro .howmuch .quantity :before {
  content: "\D7";
}
