<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <ul id="menuListThree">
        <li> <a href="https://m.meizu.com/products.html?click=mgw_menu_group_3_2" data-bh="click_mgw_menu_group_3_1"
                data-mtype="mgw_menu_group_3_2"> <img
                    src="https://fms.res.meizu.com/dms/2018/04/11/ec8cb46d-5340-428a-b9bc-3893f4749d80.png" alt=""/>
                <span>产品</span> </a> </li>
        <li> <a href="https://www.flyme.cn/?click=mgw_menu_group_3_3" data-bh="click_mgw_menu_group_3_2"
                data-mtype="mgw_menu_group_3_3"> <img
                    src="https://fms.res.meizu.com/dms/2018/04/11/0ba8483f-464e-4500-879a-66c834b62128.png" alt=""/>
                <span>Flyme</span> </a> </li>
        <li> <a href="https://cloud.flyme.cn/?click=mgw_menu_group_3_4" data-bh="click_mgw_menu_group_3_3"
                data-mtype="mgw_menu_group_3_4"> <img
                    src="https://fms.res.meizu.com/dms/2018/04/11/9ef59a5f-aa24-46a7-9443-275347f42773.png" alt=""/>
                <span>云服务</span> </a> </li>
        <li> <a href="http://retail.meizu.com/?click=mgw_menu_group_3_5" data-bh="click_mgw_menu_group_3_4"
                data-mtype="mgw_menu_group_3_5"> <img
                    src="https://fms.res.meizu.com/dms/2018/04/11/deff1f64-aeff-4b1a-a321-e54626c25d7d.png" alt=""/>
                <span>专卖店</span> </a> </li>
        <li> <a href="http://care.meizu.com/index.html?click=mgw_menu_group_3_6" data-bh="click_mgw_menu_group_3_5"
                data-mtype="mgw_menu_group_3_6"> <img
                    src="https://fms.res.meizu.com/dms/2018/04/11/7a170057-4036-4088-bda3-c0cfbfe70c03.png" alt=""/>
                <span>服务支持</span> </a> </li>
        <li> <a href="https://mf.meizu.cn/?click=mgw_menu_group_3_7" data-bh="click_mgw_menu_group_3_6"
                data-mtype="mgw_menu_group_3_7"> <img
                    src="https://fms.res.meizu.com/dms/2018/04/11/2b57d6ff-3f1d-4907-8e6a-8aab99c89b8b.png" alt=""/>
                <span>社区</span> </a> </li>
        <li> <a href="https://bbs.res.meizu.com/static_new/guide/?click=mgw_menu_group_3_8"
                data-bh="click_mgw_menu_group_3_7" data-mtype="mgw_menu_group_3_8"> <img
                    src="https://fms.res.meizu.com/dms/2018/11/19/6d9b6d21-a84f-439b-a995-b86bbe2aba4d.png" alt=""/>
                <span>App下载</span> </a> </li>
    </ul>
</body>

</html>