<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="section radio-group merchant-group">
        <div class="supplier radio-row">
            <div class="radio radio-merchant"></div>
            <div class="radio-fld">
                <div class="name">魅族</div>
            </div>
        </div>
        <div className="secrow radio-row">
            <div className="row-item">
                <div className="radio"></div>
                <div className="radio-fld">
                    <div className="item">
                        <div className="prod-img"><img
                                    src="//openfile.meizu.com/group1/M00/07/95/Cgbj0V37HNOAIdPFAAcMN3qrsLw357.png@240x240.jpg">
                               </div>
                        <div className="intro">
                                <h3>魅族中国红 Type-C 金属编织线</h3>
                                <p class="attrs"><span>红色 1.2米</span></p>
                           
                            <div className="howmuch">
                                <div data-symbol="￥" class="price">39.00</div>
                                <div className="quantity"><span>1</span></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>