<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header className="header">
        <div className="search-form">
            <form action="//mall.meizu.com/new/s" method="get">
                <div className="so-keyword"><input type="search" placeholder="" className="so-input" value="" name="keyword"
                        autocomplete="off" /><span className="btn-clear"></span></div><button type="submit"
                    name="">搜索</button>
            </form>
        </div>
        <div className="goback"><i className="iconfont ico-back"></i></div>
    </header>
</body>

</html>