#zhuce {
    width: 90%;
    margin: 10.6667vw auto;
    text-align: center;

    .zhucetop{
        font-size: 4.8vw;
        color:#198DED ;
    }

    .flyme {
        margin: 40px auto;
        input {
            font-size: 14px;
            width: 95%;
            height: 46px;
            margin: 20px auto;

        }

        .int {
            width: 95%;
            display: block;
            height: 46px;
            font-size: 14px;
            line-height: 46px;
            text-align: center;
            margin-bottom: 50px;
            *margin-bottom: 50px;
            outline: none;
            cursor: pointer;
            background-color: #198DED;
            color: #fff;
            border-radius: 4px;
            margin:50px auto auto;
            border: none;
        }
        .reg{
           color: #515151;
           font-size: 12px;
        }
    }
}