.header2 {
  position: relative;
  background-color: #fff;
  height: 44px;
}

.header2 .search-form {
  margin-left: 14.35185vw;
  line-height: 44px;
  overflow: auto;
}

.header2 .search-form .so-keyword {
  float: left;
  position: relative;
  width: 80%;
}

.header2 .search-form .so-keyword .so-input {
  width: 100%;
  height: 30px;
  padding: 1.66667vw 9.16667vw 1.66667vw 8.33333vw;
  color: #666;
  font-size: 14px;
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  outline: none;
  background-color: #eee;
}

.header2 .search-form button {
  float: right;
  width: 20%;
  line-height: 44px;
  color: #666;
  font-size: 14px;
  border: none;
  outline: none;
  background: none;
}

.header2 .goback {
  left: 0;
  position: absolute;
  top: 0;
}

.header2 .goback i {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-text-stroke-width: .2px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  width: 44px;
  margin: 12px 0 0 20px;
  display: block;
  height: 44px;
  box-sizing: border-box;
  background-image: url(../../assets/img/goback.png);
  background-repeat: no-repeat;
  background-size: 3.2vw;
}

.header2 :after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  display: block;
  border-top: 1px solid #e5e5e5;
  transform: scaleY(0.5);
}
